* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: blue;
  font-size: 2rem;
}

body {
  padding: 5px;
  margin: 30px;
}

img {
  width: 500px;
  height: %;
}

.socialcard {
  padding: 10px;
  background: white;
  color: black;
  box-shadow: 1px 1px 1px 1.2px #888888;
  border-radius: 5px;
  font-size: 16px;
}
